<div class="block container">
    <div class="block--header">
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi animi veritatis quisquam nemo consequatur, sapiente tenetur laudantium, magni possimus nihil quibusdam? Hic ad reprehenderit laudantium sapiente fugiat velit quia nemo.</p>
        </div>
        <div style=" width:30%; padding:4rem">
            <div class="card">
                <header class="card__header card--secondary">Entry</header>
                <div class="card__body">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo?
                </div>
            </div>
    </div>
    
 </div>
 <div class="block block--darken  block__skewed-right">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi animi veritatis quisquam nemo consequatur, sapiente tenetur laudantium, magni possimus nihil quibusdam? Hic ad reprehenderit laudantium sapiente fugiat velit quia nemo.</p>
    </div>
 </div>