<section class="block container block--domain">
    <div class="block--header">
      <h1 class="block__heading">Starting at $9 dollars per month</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, reiciendis.</p>
      <div class="input-group ">
        <input type="text" class="input" required placeholder="Enter domain here...">
        <button class="button button--accent">
          <svg class="icon icon--white">
            <use xlink:href="./icons/sprite.svg#searchengin"></use>
          </svg>
          Search</button>
      </div>
    </div>
     <ul class="list domain--block__list">
      <li><span class="badge badge--secondary">.com  $9</span></li>
      <li>.sg $10</li>
      <li>.space $11</li>
      <li>.info $14</li>
      <li>.net $10</li>
      <li>.xyz $10</li>
     </ul>
   </section>