<div class="block  container">
    <div class="block--header">
        <h2>Host on the clould to keep going</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, placeat! </p>
        </div>
        <div class="grid feature">
            <div class="feature--content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                      <use xlink:href="./icons/sprite.svg#back-arrow"></use>
                    </svg>
                    </span>
            <h3 class="feature__heading">Super easy to use</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In id autem quisquam nulla praesentium voluptatem, architecto obcaecati eum, mollitia libero totam excepturi doloribus doloremque repellendus ad sequi rem, beatae soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, beatae!</p>
         <a href="#" class="link-arrow">Learn More</a>  
        </div>
        <picture>
            <source type="image/jpg" srcset="./images/easy.jpg">
            <source type="image/webp" srcset="./images/easy.webp">
            <img class="image" src="./images/easy.jpg" alt="">
        </picture>
        </div>
        <div class="grid feature">
            <div class="feature--content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                      <use xlink:href="./icons/sprite.svg#custom"></use>
                    </svg>
                    </span>
            <h3 class="feature__heading">Simply fast Websites</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In id autem quisquam nulla praesentium voluptatem, architecto obcaecati eum, mollitia libero totam excepturi doloribus doloremque repellendus ad sequi rem, beatae soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, beatae!</p>
         <a href="#" class="link-arrow">Learn More</a>  
        </div>
        <picture>
            <source type="image/jpg" srcset="./images/fast.jpg">
            <source type="image/webp" srcset="./images/fast.webp">
            <img class="image" src="./images/fast.jpg" alt="">
        </picture>
        </div>
        <div class="grid feature">
            <div class="feature--content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                      <use xlink:href="./icons/sprite.svg#wordpress"></use>
                    </svg>
                    </span>
            <h3 class="feature__heading">Word Press made easy</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In id autem quisquam nulla praesentium voluptatem, architecto obcaecati eum, mollitia libero totam excepturi doloribus doloremque repellendus ad sequi rem, beatae soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, beatae!</p>
         <a href="#" class="link-arrow">Learn More</a>  
        </div>
        <picture>
            <source type="image/jpg" srcset="./images/wordpress.jpg">
            <source type="image/webp" srcset="./images/wordpress.webp">
            <img class="image" src="./images/wordpress.jpg" alt="">
        </picture>
        </div>
</div>