<section class=" block block--darken block__skewed-right hero">
     <div class=" container grid"> 
       <div class="hero--content block--header">
         <h1>Cloud Hosting For Pros</h1>
         <p class="hero--tagline">Deploy your websites  in less than 60 seconds.</p>
         <a href="#" class="button button--accent button--stretched">Get started</a>
            </div>
            <picture>
              <source type="images/webp" srcset="./images/banner.webp,./images/banner@2x.webp">
              <source type="images/png" srcset="./images/banner.png,./images/banner@2x.webp">
              <img  src="./images/banner.png" alt="">
            </picture>
       </div>
   </section> 