<svg class="icon">
    <use xlink:href="./icons/sprite.svg#back-arrow"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="./icons/sprite.svg#custom"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="./icons/sprite.svg#diagram"></use>
  </svg>
  <svg class="icon icon--primary">
    <use xlink:href="./icons/sprite.svg#image-regular"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="./icons/sprite.svg#menu"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="./icons/sprite.svg#save-time"></use>
  </svg>
  <svg class="icon icon--primary">
    <use xlink:href="./icons/sprite.svg#searchengin"></use>
  </svg>
  <svg class="icon icon--primary">
    <use xlink:href="./icons/sprite.svg#staylinked"></use>
  </svg>
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use xlink:href="./icons/sprite.svg#wordpress"></use>
    </svg>
    </span>
  