<div class="media">
    <div class="media--image">
        <svg class="icon icon--primary">
            <use xlink:href="./icons/sprite.svg#image-regular"></use>
          </svg>
    </div>
    <div class="media--body">
       <h3 class="media__title">Easy Start & Managed Updates</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim, earum aliquam vel itaque praesentium suscipit minima ut incidunt libero distinctio pariatur id modi ab cumque obcaecati delectus laborum inventore.</p>
    </div>
  </div>