<blockquote class="quote"> 
    <p class="quote--head">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat commodi voluptates laborum incidunt voluptatem officia. Omnis iusto quae harum ullam laudantium? Reiciendis eligendi necessitatibus beatae asperiores ut porro facere aspernatur. </p>
    <div class="media">
        <div class="media--image">
            <svg class="icon icon--primary">
                <use xlink:href="./icons/sprite.svg#image-regular"></use>
              </svg>
        </div>
        <div class="media--body">
           <h3 class="media__title">ABC company</h3>
        </div>
      </div>
</blockquote>