<section class="block block--darken  block__skewed-right block-showcase">
    <header class="block--header">
        <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid">
        <picture  class="block-showcase__image">
            <source type="image/png" srcset="./images/ipad.png 1x,./images/ipad@2x.png 2x">
            <source type="image/webp" srcset="./images/ipad.webp 1xl./images/ipad@2x.webp 2x">
            <img src="./images/ipad.png" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media--image">
                        <svg class="icon icon--primary">
                            <use xlink:href="./icons/sprite.svg#image-regular"></use>
                          </svg>
                    </div>
                    <div class="media--body">
                       <h3 class="media__title">Easy Start & Managed Updates</h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim, earum aliquam vel itaque praesentium suscipit minima ut incidunt libero distinctio pariatur id modi ab cumque obcaecati delectus laborum inventore.</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="media">
                    <div class="media--image">
                        <svg class="icon icon--primary">
                            <use xlink:href="./icons/sprite.svg#diagram"></use>
                          </svg>
                    </div>
                    <div class="media--body">
                       <h3 class="media__title">Staging,GIT & WP-CLI</h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim, earum aliquam vel itaque praesentium suscipit minima ut incidunt libero distinctio pariatur id modi ab cumque obcaecati delectus laborum inventore.</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="media">
                    <div class="media--image">
                        <svg class="icon icon--primary">
                            <use xlink:href="./icons/sprite.svg#wordpress"></use>
                          </svg>
                    </div>
                    <div class="media--body">
                       <h3 class="media__title">Dynamic Caching & More</h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim, earum aliquam vel itaque praesentium suscipit minima ut incidunt libero distinctio pariatur id modi ab cumque obcaecati delectus laborum inventore.</p>
                    </div>
                  </div>
            </li>
        </ul>
        </div>
 </section>